header{
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;/* cubre todo el bodi sin deformarce la imagen*/
}

header h1{
    font-size: 30px;
    margin: 0,0,20 px;
    margin-left: 220px;
    margin-top: -153px;
}
header div{
    background-color: #111111;
    padding: 30px;
    color: white;
    font-size: 20px;
}
header div img{
    margin-top: -50px;
}
.subtitle{
    color: #D1AE6E;
}
.search-bar{
    margin-left: 600px;
    margin-top: -90px;
}
.search-bar input{
    width: 250px;
    height: 30px;
}
.search-bar button{
    width: 65px;
    height: 30px;
    cursor: pointer;;
}
